@import './mixin.scss';
.m-top-sm{
    margin-top: 20px
}
.m-bottom-sm{
    margin-bottom: 20px
}

.m-rigth-sm{
    margin-right: 20px
}
.scroll-bar {
    @include scroll-bar();
}
* {
    box-sizing: border-box;
    @include scroll-bar();
}

