@import './variables.scss';
@import './mixin.scss';
@import './base.scss';
#app {
    .app-side {
        height: auto;
        // min-height: $main-min-height +$header-height;
        background-color: $default-bg-color;
        transition: width 0.28s;
        overflow-y: auto;
        overflow-x: hidden;
        &.close {
            span {
                display: none
            }
        }
    }
    .app-right {
        min-height: 100vh;
    }
    .app-header {
        background-color: $default-header-bg-color;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        position: relative;
        .language-icon {
            padding: 0 12px
        }
    }
    .app-main {
        min-height: $main-min-height;
    }
}

.zIndex-99999 {
    z-index: 99999 !important;
}

@import './fixd-menu.scss';
@import './fixd-header.scss';