@import './variables.scss';
#app {
    .app-side {
        height: 100vh;
        min-height: $main-min-height +$header-height;
        background-color: $default-bg-color;
        transition: width 0.28s;
        .app-menu {
            border-color: $default-bg-color;
            .svg-icon{
                margin-right: 16px;
            }
            .el-submenu {
                .el-menu-item{
                    background-color: $default-bg-color-80 !important
                }
            }
        }
        &.close{
            span{
                display: none
            }
            // &.el-menu{
            //     display: none
            // }
        }
    }
    .app-header{
        background-color: $default-header-bg-color;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        position: relative;
    }
    .app-main {
        min-height: $main-min-height;
    }
}